body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.grid-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.grid {
  display: flex;
  flex-direction: row;
}

.maze { 
  display:flex; flex-direction:row;
}

.dimensionInput {
  padding-right: 20px;
}

.grid-invisible {
  display: none;
}

.grid-visible {
  display: block;
}

.algorithmDropdown {
  margin: 10px;
}

.instructionalMessage {
  font-size: 20px
}